# Node.js
/main/node_modules/
.idea/*
# Python
.venv/

# Ambiente
.env
*.log

.idea/vcs.xml
server/__pycache__/main.cpython-312.pyc
# Build/IDE
dist/
build/
.idea/

# Ignorar arquivos específicos
/main/.wwebjs_cache/
/main/.wwebjs_auth/
/main/package-lock.json
/main/package.json
